<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLOv10 Real-Time Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>YOLOv10 Real-Time Object Detection</h1>
        <div>
            <a href="{{ url_for('main.webcam') }}">
                <button>Webcam Stream</button>
            </a>
            <a href="{{ url_for('main.upload') }}">
                <button>Upload Video</button>
            </a>
        </div>
    </div>
</body>
</html>
